<!DOCTYPE html>
<mat-toolbar class="main-nav" color="primary">

  <div class="main-nav-container">

    <div class="main-nav-movies">
      <a routerLink="/movies" (click)="toMovies()"> filmflix </a>
    </div>

    <div class="main-nav-links">
      <a routerLink="/profile" aria-label="Go to profile" (click)="toProfile()">
        <mat-icon>person</mat-icon>
      </a>

      <a routerLink="/welcome" aria-label="Log out" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>
