.main-nav {
  background-color: #282828;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  & .main-nav-container {
    display: flex;
    max-width: 860px;
    width: 100%;
    justify-content: space-between;
  }

  & a {
    color: #ffffffa6;
    text-decoration: none;
  }

  & a:hover,
  & a:active {
    color: #fffffe;
  }

  & .main-nav-movies {
    border-radius: 4px;
    font-weight: 700;
    padding: 10px;

    & a {
      align-items: center;
      color: #ffffffa6;
      display: flex;
      font-size: 28px;
    }
  }

  & .main-nav-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 68px;
  }
}
