<!DOCTYPE html>
<app-navbar />
<div class="movie-view">
  <mat-card class="movie-view-item" *ngFor="let movie of movies; let i = index">
    
    <img src="{{ movie.ImageURL }}" alt="{{ movie.Title }}" />

    <mat-card-header>
      <mat-card-title
        ><h2>{{ movie.Title }}</h2></mat-card-title
      >
      <mat-card-subtitle
        ><p>Directed by: {{ movie.Director.Name }}</p></mat-card-subtitle
      >

      <button
        mat-mini-fab
        class="btn-favorite"
        *ngIf="!isFavorite(movie._id)"
        (click)="addToFavorites(movie._id)"
        matTooltip="Add to favorites"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button
        mat-mini-fab
        class="btn-favorite"
        *ngIf="isFavorite(movie._id)"
        (click)="removeFromFavorites(movie._id)"
        matTooltip="Remove from favorites"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-raised-button
        (click)="openSummary(movie.Title, movie.Description)"
        class="btn-details"
      >
        Plot
      </button>

      <button
        mat-raised-button
        class="btn-genre"
        (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>

      <button
        mat-raised-button
        class="btn-director"
        (click)="
          openDirector(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birthday
          )
        "
      >
        Director
      </button>
    </mat-card-actions>
  </mat-card>
</div>
