<!DOCTYPE html>
<h2 style="text-align: center; color: #84afdd;">Your favorite movies</h2>

<div class="favs-movie-view">
  <mat-card class="favs-movie-view-item" *ngFor="let movie of favoriteMovies; let i = index">
    
    <img src="{{ movie.ImageURL }}" alt="{{ movie.Title }}" />

    <mat-card-header>
      <mat-card-title
        ><h2>{{ movie.Title }}</h2></mat-card-title
      >
      <mat-card-subtitle
        ><p>Directed by: {{ movie.Director.Name }}</p></mat-card-subtitle
      >

      <button
        mat-mini-fab
        class="favs-btn-favorite"
        (click)="removeFromFavorites(movie._id)"
        matTooltip="Remove from favorites"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-raised-button
        (click)="openSummary(movie.Title, movie.Description)"
        class="favs-btn-details"
      >
        Plot
      </button>

      <button
        mat-raised-button
        class="favs-btn-genre"
        (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>

      <button
        mat-raised-button
        class="favs-btn-director"
        (click)="
          openDirector(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birthday
          )
        "
      >
        Director
      </button>
    </mat-card-actions>
  </mat-card>
</div>
