.bg {
  background: url(../assets/filmflix-angular-app-bg.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

h4 {
  color: #2e2f3e;
  font-weight: 500;
}

.main-page {
  text-align: center;

  & .welcome-card {
    background-color: #a7a9be;
    color: #2e2f3e;
    max-width: 450px;
    min-height: 270px;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0 20px 30px rgba(40, 40, 40, 0.12),
      0 4px 8px rgba(40, 40, 40, 0.06);
    border-radius: 5px;
    justify-content: center;
    align-items: center;

    & .welcome-card-title {
      font-weight: 700;
      font-size: 32px;
    }

    & .welcome-card-actions {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  & button {
    margin-top: 2rem;
    width: 120px;
    height: 50px;
    background-color: #e53170;
    color: #fffffe;
    font-weight: 700;
    text-align: center;
  }

  & button:first-of-type {
    margin-right: 2rem;
  }
}

/* general media queries */

@media all and (max-width: 500px) {
  .main-page {
    text-align: center;

    & .welcome-card {
      max-width: 350px;
      min-height: 210px;
    }

    & button {
      width: 100px;
      height: 42px;
    }
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .main-page {
    text-align: center;

    & .welcome-card {
      max-width: 350px;
      min-height: 210px;
    }

    & button {
      width: 100px;
      height: 42px;
    }
  }
}

@media all and (max-width: 390px) {
  .main-page {
    text-align: center;

    & .welcome-card {
      max-width: 300px;
      min-height: 180px;
    }

    & button {
      width: 90px;
      height: 40px;
    }
  }
}
