.signup {
  background-color: #fffffe;
  padding: 8px;

  & .signup-header {
    color: #282828;

    & mat-card-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }

  & .signup-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      flex-direction: row;
      justify-content: space-between;
    }

    & mat-form-field {
      @media screen and (max-width: 500px) {
        width: 48%;
      }
    }
  }

  & .signup-input {
    width: 100%;
  }

  & button {
    width: 80px;
    background-color: #84AFDD;
    color: #fffffe;
    font-weight: 500;
    font-size: 14px;
    margin-left: 8px;
  }
}
