<!DOCTYPE html>
<app-navbar />

<h2 style="margin-top: 90px">Hello {{ updatedUser.Username }}!</h2>

<mat-card class="user-profile">
  <mat-card-header class="user-profile-header"></mat-card-header>

  <mat-card-content>
    <div class="user-profile-section">
      <h3>Current profile</h3>
      <div><strong>Your name: </strong>{{ updatedUser.Username }}</div>
      <div><strong>Your email: </strong> {{ updatedUser.Email }}</div>
    </div>

    <div class="user-profile-section">
      <h3>Update profile</h3>
      <form class="user-profile-form">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.Password"
            placeholder="Password"
            type="password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.Email"
            placeholder="Email"
            type="email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.Birthday"
            placeholder="Birthday"
            type="date"
            name="Birthday"
            required
          />
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="updateUserInfo()" class="btn-update">
      <mat-icon>edit</mat-icon>
      Update profile
    </button>

    <button mat-raised-button (click)="deleteAccount()" class="btn-delete">
      <mat-icon>delete_forever</mat-icon>
      Delete profile
    </button>
  </mat-card-actions>
</mat-card>

<app-user-favorite-movies />
